<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.nastennemapy.cz/file/8145/krajecr022-1.jpg"/>
  <ion-card>
    <ion-card-content>
      <p>Ulice: Vymyšlená</p>
      <p>Číslo popisné: 444</p>
      <p>Čtvrt: Zálešná</p>
      <p>PSČ: 760 01</p>
      <p>Město: Zlín</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="insert">
      <ion-label position="floating">Poznámky</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create pickup call</ion-button>
</ion-content>
