<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hobby koníci</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://cdn.myshoptet.com/usr/www.hobby-horse.cz/user/shop/related/2802-3_cormet--5.jpg?6332d890"/>
      </ion-avatar>
      <ion-label>
        <h1>Bláznivka</h1>
        <p>Cena: <span class="money">1500,00 Kč</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card></app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
